<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite thread-count="2" name="Suite" verbose="3" >
<test name="my hub spot test chrome" parallel="methods" thread-count="5">
       <parameter name="browser" value="chrome"  />
      <classes>
        <class name="com.oops.concepts.LoginTest"/>
      </classes>
  </test>   
</suite>